input.form-control {
    opacity: 0.9;
    background-color: white !important;
    color: black;
}

.spending-label {
    color: white;
}

button {
    background-color: #3174ad;
}

.custom-select {
    opacity: 0.9;
}