.Billapp {
  text-align: center;
}

.Billapp-logo {
  animation: Billapp-logo-spin infinite 20s linear;
  height: 80px;
}

.Billapp-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Billapp-title {
  font-size: 1.5em;
}

.Billapp-intro {
  font-size: large;
}

@keyframes Billapp-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Calender */
.rbc-calendar {
  width: 90%;
  background: white;
  opacity: 0.9;
}

.rbc-today {
  background: cornflowerblue;
}

.rbc-event {
  background: black;
}

.rbc-event.rbc-selected {
  background: gray;
}

.react-datepicker__time-list {
  padding: 0;
}

.react-datepicker__input-container {
  opacity: 0.9;
  width: 100%;
}

.datePickerEndDate {
  margin-top: 10px;
  height: 38px;
  border: gray;
}

.datePickerStartDate {
  height: 38px;
  border: gray;
}

.hideFirst {
  display: none;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  .hideFirst {
    display: inline;
  }
  .hideSecond {
    display: none;
  }
}
@media only screen and (max-width: 414px) {
  .rbc-toolbar-label {
    margin: 0% !important;
    padding: 0% !important;
  }
  .rbc-btn-group button {
    margin: 5% 10% 5% 5% !important;
    display: block !important;
    width: 90% !important;
  }

  .ReactModal__Content--after-open {
    width: 290px !important;
  }
}
