.spending-label {
    font-size: 21px;
    font-weight: bold;
}

.table {
    background: white;
}

.spendingList {
    font-size: 26px;
    text-align: center;
    padding: 14px;
    padding-bottom: 5px;
}