.spending-label {
    font-size: 21px;
    font-weight: bold;
}

.table {
    background: white;
}

.spendingList {
    font-size: 26px;
    text-align: center;
    padding: 14px;
    padding-bottom: 5px;
}


.react-datepicker__time-list {
    padding: 0;
}

.react-datepicker__input-container {
    opacity: 0.9;
    width: 100%;
}

.react-datepicker-wrapper {
    display: inline-block;
    width: 100%;
}

.datePickerEndDate {
    margin-top: 10px;
    height: 38px;
    border: gray;
}

.datePickerStartDate {
    height: 38px;
    border: gray;
}

/* Modal Styles */
.modal-heading {
    color: black;
    text-align: center;
    font-size: 50px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.modal-details {
    text-align: center;
    font-size: 20px;
}

.modal-close {
    float: right;
    background: #3174ad;
    border-radius: 3px;
}

.delete-btn {
    float: left;
    color: white;
    background: #3174ad;
    border-radius: 3px;
}

.ReactModal__Content--after-open {
    width: 40%;
}
/* ============ */

.hideFirst {
    display: none;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {

    .hideFirst {
        display: inline;
    }
    .hideSecond {
        display: none;
    }

}

